<!DOCTYPE html>
<html>
  <head>
    <title>SFDates</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157870805-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157870805-4');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    
    <%=favicon_link_tag asset_url('heart-favicon-32x32.png')%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Public+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3bd411c4d4.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript"></script>

    <script type="text/javascript">
      window.images = {
        github: "<%= image_url('github-512.png')%>",
        linkedin: "<%= image_url('LinkedIn (1).png')%>",
        account_image: "<%= image_url('user_profile_image.png')%>",
      }
    </script>


    <% if logged_in?%>
    <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
    <%end%>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
